<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="member" class="com.ohgiraffers.common.MemberDTO">
        <property name="id" value="1"/>
        <property name="nickname" value="nickname1"/>
    </bean>
    
    <bean id="borad" class="com.ohgiraffers.common.BoardDTO">
        <property name="id" value="1"/>
        <property name="content" value="content1"/>
        <property name="title" value="title1"/>
        <property name="writer" ref="member"/>
    </bean>
</beans>